<h1>Track on Record</h1>

<table class="many">

  <tr>
    <th>Track Title</th>
    <th>Record Title</th>
    <th>Track Number</th>
  </tr>

  <tr>
    <td><a href="/tracks/<%= @track_record.track_id %>"><%= @track_record.track_title  %></a></td>
    <td><a href="/records/<%= @track_record.record_id %>"><%= @track_record.record_title  %></a></td>
    <td><a href="tracks_records/<%= @track_record.id %>"><%= @track_record.track_number()   %></a></td>
  </tr>

</table>

<form action="/tracks_records/<%= @track_record.id %>/edit" method="post"><input type="submit" value="Edit" class="button">

</form>
<form action="/tracks_records/<%= @track_record.id %>/delete" method="POST"><input type="submit" value="Delete" class="button"></form>
