<h1>Record Inventory</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Stock Level</th>
  </tr>


  <% @records.each do |record|   %>
  <tr>
    <th><a href="/records/<%= record.id %>"><%= record.title  %></a></th>
    <th><a href="/artists/<%= record.artist_id %>"><%= record.artist  %></a></th>
    <th><%= record.check_stock_level()   %></th>

  </tr>

  <% end %>
</table>

<form action="/records/new" method="post">
  <input type="submit" value="Add New Record">
</form>
</main>
