<h1>Record Inventory</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Stock Level</th>
    <th>Buy Price</th>
    <th>Sell Price</th>
    <th>Mark-up</th>
    <th>Potential Profit</th>
    <th>Vinyl/Wav</th>
  </tr>


  <% @records.each do |record|   %>
  <tr>
    <td><a href="/records/<%= record.id %>"><%= record.title  %></a></td>
    <td><%= record.check_stock_level()   %></td>
    <td>£<%= record.buy_price()   %></td>
    <td>£<%= record.sell_price()   %></td>
    <td>£<%= record.check_markup()   %></td>
    <td>£<%= record.check_potential_profit()   %></td>
    <td><%= record.check_type  %></td>

  </tr>

  <% end %>
</table>

<form action="/records/new" method="post">
  <input type="submit" value="Add New Record" class="button"/>
</form>
</main>
