<h1><%= @record.title %> </h1>

<table class="one">

  <tr><th>Title: </th><td><%= @record.title %></td></tr>
  <tr><th>Stock: </th><td><%= @record.stock %></td></tr>
  <tr><th>Buy Price: </th><td><%= @record.buy_price %></td></tr>
  <tr><th>Sell Price: </th><td><%= @record.sell_price %></td></tr>
  <tr><th>Markup: </th><td><%= @record.check_markup %></td></tr>
  <tr><th>Type: </th><td><%= @record.check_type %></td></tr>

</table>

<h2>Tracks:</h2>

<br>
  <table>
    <tr>
      <th>Track Title</th>
      <th>Artist</th>
      <th>Genre</th>
      <th>BPM</th>
      <th>Label</th>
      <th>Key</th>
    </tr>

    <% @tracks.each do |track| %>
    <tr>
      <td><a href="/tracks/<%= track.id %>"><%= track.track_title %></a></td>
      <td><a href="/artists/<%= track.artist_id %>"><%= track.artist %></a></td>
      <td><a href="/genres/<%= track.genre_id %>"><%= track.genre %></td>
      <td><%= track.bpm %></td>
      <td><%= track.label %></td>
      <td><%= track.key %></td>
    </tr>

    <% end %>
  </table>


<form action="/records/<%= @record.id %>/edit" method="POST"><input type="submit" value="Edit"></form>
<form action="/records/<%= @record.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
