<h1><%= @record.title %> by <%= @record.artist %></h1>

<p>Title: <%= @record.title %></p>
<p>Artist: <%= @record.artist %></p>
<p>Stock: <%= @record.stock %></p>
<p><a href="/records/<%= @record.id %>/edit">Edit</a></p>
<form action="/records/<%= @record.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
