<h1><%= @record.title %> </h1>

<p>Title: <%= @record.title %></p>
<p>Stock: <%= @record.stock %></p>
<p>Buy Price: <%= @record.buy_price %></p>
<p>Sell Price: <%= @record.sell_price %></p>
<p>Markup: <%= @record.check_markup %></p>
<p>Type: <%= @record.check_type %></p>

Tracks:
<br>
<br>
<table>
  <table>
    <tr>
      <th>Track Title</th>
      <th>Artist</th>
      <th>Genre</th>
      <th>BPM</th>
      <th>Label</th>
      <th>Key</th>
    </tr>

    <% @tracks.each do |track| %>
    <tr>
      <td><a href="/tracks/<%= track.id %>"><%= track.track_title %></a></td>
      <td><a href="/artists/<%= track.artist_id %>"><%= track.artist %></a></td>
      <td><a href="/genres/<%= track.genre_id %>"><%= track.genre %></td>
      <td><%= track.bpm %></td>
      <td><%= track.label %></td>
      <td><%= track.key %></td>
    </tr>

    <% end %>
  </table>
</table>

<p><a href="/records/<%= @record.id %>/edit">Edit</a></p>
<form action="/records/<%= @record.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
