<h1>Edit Track</h1>

<form class="edit-track" action="/tracks/<%= @track.id %>" method="post">

  <p><label for="track_title">Title:</label>
    <input type="text" name="track_title" value="<%= @track.track_title %>" id="track_title"></p>

    <p><label for="artist-select">Artist:</label>
      <select name="artist_id" id="artist_select">
        <% @artists.each do |artist| %>
          <% if artist.id == @track.artist_id %>
            <option value=<%= artist.id  %> selected><%= artist.name %></option>
          <% else %>
            <option value=<%= artist.id %>><%= artist.name %></option>
          <% end %>
        <% end %>
      </select></p>

  <p><label for="genre-select">Genre:</label>
  <select name="genre_id" id="genre_select">
    <% @genres.each do |genre| %>
      <% if genre.id == @track.genre_id %>
        <option value=<%= genre.id  %> selected><%= genre.name %></option>
      <% else %>
        <option value=<%= genre.id %>><%= genre.name %></option>
      <% end %>
    <% end %>
  </select></p>

  <p><label for="label">Label:</label>
  <input type="text" name="label" value="<%= @track.label %>" id="label"></p>

  <p><label for="key-select">Key:</label>
  <select name="key" id="key_select">
    <option value="1A">1A</option>
    <option value="1B">1B</option>
    <option value="2A">2A</option>
    <option value="2B">2B</option>
    <option value="3A">3A</option>
    <option value="3B">3B</option>
    <option value="4A">4A</option>
    <option value="4B">4B</option>
    <option value="5A">5A</option>
    <option value="5B">5B</option>
    <option value="6A">6A</option>
    <option value="6B">6B</option>
    <option value="7A">7A</option>
    <option value="7B">7B</option>
    <option value="8A">8A</option>
    <option value="8B">8B</option>
    <option value="9A">9A</option>
    <option value="9B">9B</option>
    <option value="10A">10A</option>
    <option value="10B">10B</option>
    <option value="11A">11A</option>
    <option value="11B">11B</option>
    <option value="12A">12A</option>
    <option value="12B">12B</option>
  </select></p>



  <div class="add-record">
      <input type="submit" value="Add Record" class="button"/>
    </div>
</form>
