<h1>Tracks</h1>

<table>
  <tr>
    <th>Track Title</th>
    <th>Artist</th>
    <th>Genre</th>
    <th>BPM</th>
    <th>Label</th>
    <th>Key</th>
  </tr>

  <% @tracks.each do |track| %>
  <tr>
    <td><a href="/tracks/<%= track.id %>"><%= track.track_title %></a></td>
    <td><%= track.artist %></td>
    <td><%= track.genre %></td>
    <td><%= track.bpm %></td>
    <td><%= track.label %></td>
    <td><%= track.key %></td>
  </tr>

  <% end %>
</table>

<form action="/tracks/new" method="post">
  <input type="submit" value="Add New Track" class="button"/>
</form>
