<h1><%= @track.track_title %> by <%= @track.artist %> </h1>

<table class="one">
  <tr>
    <th>Title: </th><td><%= @track.track_title %></td>
  </tr>
  <tr>
    <th>Artist: </th><td><%= @track.artist %></td>
  </tr>
  <tr>
    <th>Genre: </th><td><%= @track.genre %></td>
  </tr>
  <tr>
    <th>BPM: </th><td><%= @track.bpm %></td>
  </tr>
  <tr>
    <th>Label: </th><td><%= @track.label %></td>
  </tr>
  <tr>
    <th>Key: </th><td><%= @track.key %></td>
  </tr>

</table>


<form action="/tracks/<%= @track.id %>/edit" method="POST"><input type="submit" value="Edit Relationship" class="button"></form>
<form action="/tracks/<%= @track.id %>/delete" method="POST"><input type="submit" value="Delete Relationship" class="button"></form>
