<h1><%= @artist.name.upcase %></h1>

<main id="artist-search">
<h3>Tracks:</h3>

  
  <br>
    <table class="many">
      <tr>
        <th>Track Title</th>
        <th>Genre</th>
        <th>BPM</th>
        <th>Label</th>
        <th>Key</th>
      </tr>

      <% @tracks.each do |track| %>
      <tr>
        <td><a href="/tracks/<%= track.id %>"><%= track.track_title %></a></td>
        <td><a href="/genres/<%= track.genre_id %>"><%= track.genre %></td>
        <td><%= track.bpm %></td>
        <td><%= track.label %></td>
        <td><%= track.key %></td>
      </tr>

      <% end %>
    </table>
<br>

<br>

<h3>Records:</h3>
    <table>
      <tr>
        <th>Title</th>
        <th>Stock Level</th>
        <th>Buy Price</th>
        <th>Sell Price</th>
        <th>Mark-up</th>
        <th>Potential Profit</th>
        <th>Vinyl/Wav</th>
      </tr>


      <% @records.each do |record|   %>
      <tr>
        <td><a href="/records/<%= record.id %>"><%= record.title  %></a></td>
        <td><%= record.check_stock_level()   %></td>
        <td>£<%= record.buy_price()   %></td>
        <td>£<%= record.sell_price()   %></td>
        <td>£<%= record.check_markup()   %></td>
        <td>£<%= record.check_potential_profit()   %></td>
        <td><%= record.check_type  %></td>
      </tr>

      <% end %>
    </table>

<br>
<br>
  <form action="/artists/<%= @artist.id %>/edit" method="POST"><input type="submit" value="Edit Artist" class="button"></form>
  <form action="/artists/<%= @artist.id %>/delete" method="POST"><input type="submit" value="Delete Artist" class="button"></form>
</main>
